# server configuration
HOST=localhost
PORT=5000
 
# node-postgres configuration
PGUSER=
PGHOST=
PGPASSWORD=
PGDATABASE=
PGPORT=

# JWT token
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=
ACCESS_TOKEN_AGE=

# Message broker
RABBITMQ_SERVER=
EXPORT_PLAYLIST_CHANNEL="export:playlist"

# Redis
REDIS_SERVER=
CACHE_EXPIRATION=3600